<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codes.jean.telepathy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:background="@color/greyBackground"
        android:icon="@mipmap/ic_launcher_foreground_telepathy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground_telepathy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppMain"
            android:theme="@style/TelepathyTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuOpenURL"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Connect" />
        <activity android:name=".MenuSendFile"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>